/*
    styles for chat pages
*/

html, body {
    height: 100%;
}

body {
    margin: 0;
}

#chat-grid {
    display: grid;
    grid-template-areas:
        "server-select server-info component users"
        "server-select server-info component users"
    ;

    grid-template-columns: 5em 15em auto 15em;
    height: 100%;
}

#chat-grid.format2 {
    grid-template-areas:
        "server-select server-info users     users    "
        "server-select server-info component component"
    ;

}

#chat-grid > * {
    border: var(--secondary-border);
    margin: 5px;
}

#chat-grid > #server-select {
    grid-area: server-select;
}

#chat-grid > #server-info {
    grid-area: server-info;
}

#chat-grid > #users {
    grid-area: users;
}

#chat-grid > #page-content {
    grid-area: component;
}

:is(#server-select, #server-info, #users) ul {
    list-style-type: none;
    padding: 0;
}

/* chat container */
#chat-container {
    display: grid;
    grid-template-rows: auto 2em;
    height: 100%;
}

#messages {
    display: flex;
    align-items: flex-end;
}

/* TODO: make the padding good */

:is(.server-icon, .user-icon) img {
    width: 54px;
    height: 54px;
    margin: auto;
}

.server-icon a {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    justify-content: center;
    box-sizing: border-box;
}

.channel-display a {
    text-decoration: none;
    color: inherit;
}

#server-name {
    padding: 8px;
    border-bottom: var(--secondary-border);
}
