/*
    styles for chat pages
*/
:root {
    --app-grid-border-width: 4px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

/* app grid */
#app-grid {
    --server-info-width: 15em;
    --resizer-width: 16px;

    display: grid;
    grid-template-areas:
        "left-bar server-info chat-container users"
        "left-bar server-info chat-container users";

    grid-template-columns: min-content var(--server-info-width) auto 15em;

    height: 100%;
}

#app-grid > * {
    --border-width: 4px;
}

#app-grid.format2 {
    grid-template-areas:
        "left-bar server-info users          users         "
        "left-bar server-info chat-container chat-container";
}

/* change the app grid for small screens */
@media screen and (max-width: 768px) {
    /* TODO: make these things work */
    #app-grid {
        display: block;
    }

    #app-grid > #server-select {
        display: none;
    }

    #app-grid > #server-info {
        display: none;
    }

    #app-grid > #users {
        display: none;
    }

    #app-grid > #chat-container {
        display: block;
        height: 100%;
    }
}

/* server selection area */
#left-bar {
    grid-area: left-bar;
    border-right: var(--background-border);
    border-width: var(--app-grid-border-width);

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#server-select,
#left-bar-other {
    list-style-type: none;
    padding: 0;
}

:is(#server-select, #left-bar-other) {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

:is(#server-select, #left-bar-other) a {
    display: block;
    height: 64px;
}

#server-select img {
    width: 64px;
}

/* server info section */
#server-info {
    grid-area: server-info;
    border-right: var(--background-border);
    border-width: var(--app-grid-border-width);

    min-width: 100px;
    max-width: 800px;
}

#server-info-resizer {
    width: var(--resizer-width);
    height: 100%;

    position: relative;
    float: right;
    top: 0;
    right: calc((var(--resizer-width) + var(--app-grid-border-width))/ -2);

    opacity: 0;
    background-color: red;
    z-index: 1;
    cursor: ew-resize;
}

#server-name-container {
    border-bottom: var(--background-border);
    border-width: var(--app-grid-border-width);
    padding: 16px;
}

#server-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#channels-group {
    padding: 16px;
}

.channel-display {
    padding: 8px;
    margin: -4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
}

.channel-display.selected {
    background-color: var(--foreground-highlight-color);
}

.channel-display a {
    text-decoration: none var(--background-color);
    color: inherit;
    transition: text-decoration 0.2s;
}

.channel-display:is(:hover, :focus) {
    background-color: var(--foreground-color);
}

.channel-display:is(:hover, :focus) a {
    text-decoration: underline var(--text-primary);
}

/* users section */
#users {
    grid-area: users;
    border-left: var(--background-border);
    border-width: var(--app-grid-border-width);
}

#app-grid.format2 #users {
    border-left: none;
    border-bottom: var(--background-border);
    border-width: var(--app-grid-border-width);
}

#users-group {
    list-style-type: none;
    padding: 0;
}

.user-display {
    padding: 8px;
    margin: 8px;
    display: flex;
    gap: 8px;
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
}

.user-display:is(:hover, :focus) {
    background-color: var(--foreground-color);
}

.user-display img {
    width: 64px;
}

.user-display-username {
    margin: auto 0;
}

/* chat container */
#chat-container {
    grid-area: chat-container;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    height: 100%;

    box-sizing: border-box;
}

/* messages */
#messages-container {
    overflow-y: auto;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.message {
    padding: 10px;
    display: grid;
    grid-template-columns: min-content auto;
}

.message > img {
    width: 64px;
}

.message-but-not-image {
    margin-left: 1em;
    display: grid;
    grid-template-rows: auto auto;
}

.message-timestamp {
    color: #999;
    margin-left: 0.5em;
    font-size: 0.7em;
}

#chat-controls {
    display: flex;
    gap: 8px;
    padding: 1em;
}

/* TODO: remove this old interface stuff */
#inputField {
    flex-grow: 1;
}

#chat-controls button {
    padding: 0.5em;
}
