:root {
    --border-width: 2px;
    --border-radius: 1em;

    --background-color: #000;
    --background-border: var(--border-width) solid #333;

    --foreground-color: #444;
    --foreground-hover: #222;
    --foreground-border: var(--border-width) solid #666;

    --secondary-color: #fff;
    --secondary-hover: #aaa;
    --secondary-border: var(--border-width) solid #ddd;

    --confirm-color: #3c963f;
    --confirm-hover: #317933;

    --text-primary: #fff;
    --text-secondary: #000;
}

[data-theme="light"] {
    --background-color: #fff;
    --background-border: var(--border-width) solid #cacaca;

    --foreground-color: #a7a7a7;
    --foreground-hover: #7a7a7a;
    --foreground-border: var(--border-width) solid #555555;

    --secondary-color: #1a1a1a;
    --secondary-hover: #353535;
    --secondary-border: var(--border-width) solid #ddd;

    --confirm-color: #3c963f;
    --confirm-hover: #317933;

    --text-primary: #000000;
    --text-secondary: #ffffff;
}

* {
    margin: 0;
    /*box-sizing: border-box;*/
}

html {
    font-size: 20px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
}

nav {
    background-color: var(--background-color);
    border-bottom: var(--background-border);
    display: flex;
    width: 100vw;
    padding: 1em;
    box-sizing: border-box;
    justify-content: space-between;
}

nav img {
    height: 3.5em;
}

nav .left {
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .left a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav .left a span {
    /* nav CappaChat thing */
    margin-left: 10px;
}

nav .left:hover a span {
    text-decoration: underline;
}

nav .left span {
    font-size: 1.75em;
}

nav .right {
    justify-content: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* footer */
footer {
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    border-top: var(--background-border);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 8px;
    }
}

a {
    color: var(--text-primary);
}

:is(button, .button) {
    font-size: inherit;
    background-color: var(--foreground-color);
    border: var(--foreground-border);
    border-radius: 1.5em;
    padding: 0.75em;
    color: inherit;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

:is(button, .button):hover {
    background-color: var(--foreground-hover);
}

:is(button, .button).secondary {
    background-color: var(--secondary-color);
    border: var(--secondary-border);
    color: var(--text-secondary);
    text-decoration: none;
}

:is(button, .button).secondary:hover {
    background-color: var(--secondary-hover);
}

:is(button, .button).confirm {
    background-color: var(--confirm-color);
}

:is(button, .button).confirm:hover {
    background-color: var(--confirm-hover);
}

/*
    inline classes
*/

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#hero {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;
    font: 2em;
    box-sizing: border-box;
    background-color: #444444;
    text-align: center;
}

#index-page {
    justify-items: center;
}

#index-page p {
    margin-top: 1em;
    margin-bottom: 1.2em;
}

.index-grid-container {
    display: grid;
    grid-template-areas:
        "one big"
        "two big";
    gap: 20px;
}

.index-grid-item {
    background-color: #444444;
    color: white;
    padding: 20px;
    text-align: center;
}

.index-grid-item.one {
    grid-area: one;
}
.index-grid-item.two {
    grid-area: two;
}

.index-grid-item-big {
    grid-area: big;
    background-color: #444444;
    color: white;
    padding: 20px;
    text-align: center;
    align-content: right;
}

#about-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30em;
}

#about-page p {
    font-size: 1.25em;
}

.history-section {
    justify-items: center;
}

.dev-section {
    justify-items: center;
}

/* modal */
.modal {
    z-index: 100;
    border-width: 0;

    margin: auto;
    padding: 2em;
    width: min(50%, 500px);

    background-color: var(--background-color);
    border: var(--foreground-border);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    color: var(--text-primary);
}

.modal::backdrop {
    background-color: #000000aa;
}

.modal :is(button, .button)[type="submit"] {
    background-color: var(--confirm-color);
    border: none;
    color: var(--text-primary);
    text-decoration: none;
    width: max(40%, 6.7em);
    margin: auto;
}

.modal :is(button, .button)[type="submit"]:hover {
    background-color: var(--confirm-hover);
}

.modal button.close {
    padding: 0;
    font-size: 1.5em;
    background-color: transparent;
    border: 0px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.modal-header span {
    font-size: 1.5em;
}

/* form */

input {
    background-color: var(--foreground-color);
    border: var(--background-border);
    border-radius: 2em;
}

.modal form input {
    width: 100%;
    box-sizing: border-box;
}

.forgot-password {
    font-size: 0.85em;
    color: grey;
    text-decoration: none;
    margin-bottom: 5px;
    width: fit-content;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear-fix {
    clear: both;
}

.form-item {
    position: relative;
    display: block;
    margin: 0.75em 0;
}

input {
    padding: 0.5em;
    font-size: 1em;
    color: var(--text-primary);
}

.form-item label {
    position: absolute;
    top: 0.6em;
    left: 1em;
    transition: all 0.4s ease;
    color: #bbb;
}

.form-item label.move-up {
    top: -1.5em !important;
    padding: 0 5px;
    font-size: 0.8em;
}

/* section */

section {
    border-top: var(--background-border);
}

.settings-top {
    display: flex;
}
