/* settings page styling */
body {
    height: 100%;
}

#settings-page {
    display: grid;
    grid-template-areas:
        "settings-title settings-header"
        "settings-select settings-main";
    grid-template-columns: 16em auto;
    grid-template-rows: min-content auto;
    height: 100%;
    min-height: 100vh;

    --border-weight-on-the-settings-page: 4px;

    --padding-for-stuff-and-things: 16px;
}

#settings-page > h1 {
    padding: var(--padding-for-stuff-and-things);
    grid-area: settings-title;
    border-right: var(--background-border);
    border-bottom: var(--background-border);
    border-width: var(--border-weight-on-the-settings-page);

    display: flex;
}

#settings-page > h1 > span {
    padding-top: 4px;
}

#settings-header {
    padding: var(--padding-for-stuff-and-things);
    grid-area: settings-header;
    border-bottom: var(--background-border);
    border-width: var(--border-weight-on-the-settings-page);

    display: grid;
    align-items: end;
}

#settings-header h2 {
    padding-bottom: 4px;
}

#settings-select {
    grid-area: settings-select;
    border-right: var(--background-border);
    border-width: var(--border-weight-on-the-settings-page);
}

#settings-main-container {
    grid-area: settings-main;
    padding: 1em;
}

#settings-select ul {
    padding: 16px;
}

.setting-section ul {
    padding: 0;
}

.setting-section {
    border: solid 2px #fff;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

/* main styling */
main {
    margin: 0 auto;
    max-width: 1000px;
}

.setting-option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.setting-option:last-child {
    margin-bottom: 0;
}

.setting-name {
    display: block;
}

.setting-description {
    display: block;
    color: #aaa;
}

.back-button,
.back-button:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: auto;
    height: 48px;
}
